PORT=8080
NODE_ENV=development
MONGO_URL=
MONGO_DB_NAME=events
JWT_EXPIRES_IN=1h
JWT_COOKIE_EXPIRES_IN=3600000
JWT_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Events <notifications@example.com>"
